@import "ui-variables";

.tool-panel {
  color: @text-color;

  &.panel-bottom {
    border-top: 1px solid @terminal-foreground-color;
  }

  &.panel-left {
    border-right: 1px solid @terminal-foreground-color;
  }

  &.panel-right {
    border-left: 1px solid @terminal-foreground-color;
  }
}

.inset-panel {
  position: relative;
  background-color: @terminal-foreground-color;
}
