/*
    Syntax styles for CSS and LESS.
*/

.source.css,
.source.less,
.source.scss {

    /* Base */
    color: @black;

    /* Selectors */
    .selector,
    .entity.name.tag,
    .entity.other.attribute-name.id,
    .entity.other.attribute-name.class {
        color: @black;
    }

    /* Property Names */
    .property-name {
        color: @blue;
    }

    /* Property Values */
    .property-value {
        color: @black;

        .constant {
            color: @light-red;
        }
    }

    /* Variables */
    .variable {
        color: @blue;
    }
    .property-name ~ .variable,
    .attribute-name ~ .variable {
        color: @light-red;
    }

    /* Urls */
    .url {
        color: @light-red;
    }

}
