/*
    Syntax styles for Javascript.
*/

.source.js {

    /* Base */
    color: @black;

    /* Braces */
    .brace.round,
    .brace.curly,
    .brace.square {
        color: @black;
    }

    /* Operators */
    .operator {
        color: @black;
    }

    /* Support Classes */
    .support.class {
        color: @light-red;
    }

    /* Storage */
    .storage {
        color: @blue;
    }

    /* Keywords */
    .keyword.new {
        color: @blue;
    }
    .keyword.control {
        color: @blue;
    }

    /* Support Constants */
    .constant.support {
        color: @black;
    }

    /* Function Support Classes */
    .function > .support.class {
        color: @black;
    }

    /* Entities */
    .entity {
        color: @black;
    }

}
