/* Editor */
.editor-colors {
    background-color: @syntax-background-color;
    color: @syntax-text-color;
}

.editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    /* Hack for thunderbolt displays */
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .01em;

    /* Guides */
    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }

    .invisible-character {
        color: @syntax-invisible-character-color;
    }

    /* Gutter */
    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;

        .line-number {

            &.cursor-line {
                background-color: @syntax-gutter-background-color-selected;
                color: @syntax-gutter-text-color-selected;
            }

            &.cursor-line-no-selection {
                color: @syntax-gutter-text-color-selected;
            }
        }

        &.drop-shadow {
        }
    }

    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: @blue;
    }

    /* Invisible */
    .invisible {
        color: @syntax-text-color;
    }

    /* Cursor */
    .cursor {
        color: @syntax-cursor-color;
    }

    /* Selection */
    .selection .region {
        background-color: @syntax-selection-color;
    }
    .cursor-line {
        background-color: @syntax-selection-color;
    }
}

/* Search Marker */
.editor .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
}

.editor .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
}

/* Highlight */
@-webkit-keyframes highlight {
    from { background-color: rgba(56, 197, 262, 0.7); }
    to { background-color: null; }
}

.editor .highlighted.selection .region {
    -webkit-animation-name: highlight;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

/* Bracket Matcher */
.bracket-matcher {
    border-bottom: 1px solid @blue;
    z-index: 2;
}

/* Entity */
.entity {
    &.name.type {
        color: @blue;
    }

    &.other.inherited-class {
        color: @blue;
    }
}

/* Keyword */
.keyword {
    color: @black;

    &.control {
        color: @black;
    }

    &.operator {
        color: @syntax-text-color;
    }

    &.other.special-method {
        color: @blue;
    }

    &.other.unit {
        color: @light-red;
    }
}

/* Storage */
.storage {
    color: @blue;
}

/* Constant */
.constant {
    color: @light-red;

    &.character.escape {
        color: @light-red;
    }

    &.numeric {
        color: @light-red;
    }

    &.other.color {
        color: @light-red;
    }

    &.other.symbol {
        color: @light-red;
    }
}

/* Variable */
.variable {
    color: @blue;

    &.interpolation {
        color: darken(@red, 10%);
    }

    &.parameter.function {
        color: @syntax-text-color;
    }
}

/* Invalid */
.invalid.illegal {
    background-color: @red;
    color: @syntax-background-color;
}

/* Strings */
.string {
    color: @orange;

    &.regexp {
        color: @light-red;

        .source.ruby.embedded {
            color: @orange;
        }
    }

    &.other.link {
        color: @light-red;
    }
}

/* Punctuation */
.punctuation {

    color: @black;

    &.definition {

        color: @black;

        &.string,
        &.variable,
        &.parameters,
        &.array {
            color: @syntax-text-color;
        }

        &.heading,
        &.identity {
            color: @blue;
        }

        &.bold {
            color: @orange;
            font-style: bold;
        }

        &.italic {
            color: @orange;
            font-style: italic;
        }
    }

    &.section.embedded {
        color: darken(@red, 10%);
    }

}

/* Comments */
.comment {
    color: @light-blue;

    &.punctuation {
        color: @light-blue;
    }
}

/* Support */
.support {
    &.class {
        color: @blue;
    }

    &.function  {
        color: @blue;

        &.any-method {
            color: @blue;
        }
    }
}

/* Entity */
.entity {
    &.name.function {
        color: @black;
    }

    &.name.class, &.name.type.class {
        color: @blue;
    }

    &.name.section {
        color: @blue;
    }

    &.name.tag {
        color: @black;
    }

    &.other.attribute-name {
        color: @blue;

        &.id {
            color: @blue;
        }
    }
}

/* Meta */
.meta {
    &.class {
        color: @orange;
    }

    &.link {
        color: @orange;
    }

    &.require {
        color: @blue;
    }

    &.selector {
        color: @black;
    }

    &.separator {
        background-color: @gray;
        color: @syntax-text-color;
    }
}

/* None */
.none {
    color: @syntax-text-color;
}

/* Editor Mini */
.editor.mini .scroll-view {
    padding-left: 1px;
}
