@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @black;
@syntax-cursor-color: @black;
@syntax-selection-color: @faded-gray;
@syntax-background-color: @white;

// Guide colors
@syntax-wrap-guide-color: @light-gray;
@syntax-indent-guide-color: @light-gray;
@syntax-invisible-character-color: @light-gray;

// For find and replace markers
@syntax-result-marker-color: @gray;
@syntax-result-marker-color-selected: @black;

// Gutter colors
@syntax-gutter-text-color: @gray;
@syntax-gutter-text-color-selected: @gray;
@syntax-gutter-background-color: @white;
@syntax-gutter-background-color-selected: @faded-gray;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @blue;
@syntax-color-modified: @orange;
@syntax-color-removed: @light-red;
