@base03:    #25292a;
@base01:    #586e75;
@base0:     #ccc;
@base1:     #B0B0B0;

@red:       #F83333;
@highlight: #433131;
@white:     #fff;
@comment:   #405a69;
@lightgrey: #B0B0B0;
@blue:      #77acc5;

@text-color-warning: @red;
