@import "ui-variables";
@import "ui-mixins";

.btn-background (@color, @hover-color, @selected-color, @border-color, @text-color, @text-color-hover) {
    @border-shadow: inset 0 0 0 1px @border-color;
    @active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color: @text-color;
    background-color: #fff;
    box-shadow: @border-shadow;
    -webkit-font-smoothing: antialiased;

    &:hover {
        color: @text-color-hover;
    }
    &:active,
    &.selected:hover:active {
        box-shadow: @active-shadow, @border-shadow;
    }
    &.selected,
    &.selected:hover {
        box-shadow: @active-shadow, @border-shadow;
        background-color: transparent;
    }
    &.selected:hover {
    }
}

.btn-variant (@color) {
    .btn-background(@button-background-color, @button-background-color-hover, @button-background-color-selected, @button-border-color, @color, darken(@color, 10%));
}

.btn {
    .btn-background(@button-background-color, @button-background-color-hover, @button-background-color-selected, @button-border-color, @text-color, @text-color-primary);
}

.btn.btn-primary {
    .btn-variant(@text-color-primary);
}
.btn.btn-info {
    .btn-variant(@text-color-info);
}
.btn.btn-success {
    .btn-variant(@text-color-success);
}
.btn.btn-warning {
    .btn-variant(@text-color-warning);
}
.btn.btn-error {
    .btn-variant(@text-color-error);
}

.btn-group > .btn {
    border: none;

    &.selected {
        background-color: transparent !important;
    }
}
