@import "ui-variables";
@import "ui-mixins";

.editor.mini {
    color: @text-color;
    background-color: @input-background-color;
    border: 1px solid @input-border-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: @component-border-radius;
    padding-left: @component-padding/2;

    .cursor { border-color: #000; }
    .selection .region { background-color: rgba(0, 0, 0, .2); }
}

.editor.editor-colors.mini.is-focused {
    background-color: lighten(@input-background-color, 5%);
    .selection .region { background-color: lighten(@background-color-info, 30%); }
}
