@import "ui-mixins";
@import "ui-variables";
@import "buttons";

.panes {
    .pane {
        background-color: lighten(@app-background-color, 3%);

        &:focus {
            background-color: @app-background-color;
        }
    }

    .pane-row > * {
        border-right: 1px solid @pane-item-border-color;
        &:last-child { border-right: none; }
    }

    .pane-column > * {
        border-bottom: 1px solid @pane-item-border-color;
        &:last-child { border-bottom: none; }
    }
}
