@import "ui-variables";

.tree-view {
	font-size: @font-size;
	background: @tree-view-background-color;
	/* Font Weight */
	-webkit-font-smoothing: antialiased;

	.selected:before {
		background: #C1C1C1;
	}
}

.focusable-panel {
	opacity: 1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e8ecf1), to(#ebebeb));
	background-image: -webkit-linear-gradient(top, #e8ecf1, #ebebeb);

	&:focus {
		background-image: -webkit-gradient(linear, left top, left bottom, from(#e8ecf1),to(#d1d8e0));
		background-image: -webkit-linear-gradient(top, #e8ecf1, #d1d8e0);

		.selected:before {
			background: @background-color-selected;
		}
		
		.selected > .name,
		.selected > .name:before,
		.selected > .list-item > .name,
		.selected > .list-item > .name:before {
			color: #fff !important;
		}
	}
}
