@import "ui-variables";

// Pattern matching; ish is cray.
// http://lesscss.org/#-pattern-matching-and-guard-expressions
.text(normal) {
    font-weight: normal;
    color: @text-color;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.text(subtle) {
    font-weight: normal;
    color: @text-color-subtle;
    text-shadow: none;
}
.text(highlight) {
    font-weight: normal;
    color: @text-color-highlight;
}
.text(selected) {
    font-weight: normal;
    color: @text-color-selected;
    text-shadow: none;
}

.text(info) {
    color: @text-color-info;
    text-shadow: none;
}
.text(success) {
    color: @text-color-success;
    text-shadow: none;
}
.text(warning) {
    color: @text-color-warning;
    text-shadow: none;
}
.text(error) {
    color: @text-color-error;
    text-shadow: none;
}
