// Colors

@text-color: #444;
@text-color-subtle: #a5a5a5;
@text-color-highlight: #000;
@text-color-selected: #fff;

@text-color-info: #5293d8;
@text-color-success: #38c5fc;
@text-color-warning: #ffab61;
@text-color-error: #d08770;
@text-color-primary: #1b98fb;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #0098ff;
@background-color-success: #17ca65;
@background-color-warning: #ff4800;
@background-color-error: #c00;
@background-color-highlight: rgba(0, 0, 0, .1);
@background-color-selected: #6aa5e9;

@app-background-color: #fff;

@base-background-color: #fff;
@base-border-color: #9f9f9f;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: #fff;
@input-border-color: fadeout(@base-border-color, 10%);

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: #fff;
@inset-panel-border-color: fadeout(@base-border-color, 10%);

@panel-heading-background-color: #c3c3c3;
@panel-heading-border-color: #fff;

@overlay-background-color: #ececec;
@overlay-border-color: @base-border-color;

@button-background-color: @base-background-color;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #888;
@button-border-color: rgba(0, 0, 0, 0.15);

@tab-bar-background-color: #d8d8d8;
@tab-bar-border-color: #ddd;
@tab-background-color: #e8e8e8;
@tab-background-color-active: #fff;
@tab-border-color: lighten(@base-border-color, 10%);

@tree-view-background-color: #f8f8f8;
@tree-view-border-color: @base-border-color;

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #db2ff4; // purple
@ui-site-color-5: #f5e11d; // yellow


// Sizes

@font-size: 12px;
@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 26px;


// Other

@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
