@import "ui-variables";
@import "ui-mixins";

@btn-color: #fff;

.btn {
  border-left: 0 !important;
  border-right: 0 !important;
}

.btn-background (@color, @hover-color, @selected-color, @text-color) {
  color: @btn-color;
  background-color: #0288d1;

  &:hover {
    color: @text-color-highlight;
    background-color: #0277bd;
  }
  &.selected,
  &.selected:hover {
    color: @text-color-highlight;
    background-image: -webkit-linear-gradient(darken(@selected-color, 5%), @selected-color);
    &:hover {
      background-image: -webkit-linear-gradient(@selected-color, darken(@selected-color, 5%));
    }
  }
}

.btn-variant (@color) {
  @bg: darken(@color, 10%);
  @hover: @color;
  @selected: @color;
  .btn-background(@bg, @hover, @selected, @text-color-highlight);
}

.btn {
  .btn-background(@button-background-color, @button-background-color-hover, @button-background-color-selected, @text-color);
}

.btn.btn-primary {
  .btn-variant(@background-color-info);
}
.btn.btn-info {
  .btn-variant(@background-color-info);
}
.btn.btn-success {
  .btn-variant(@background-color-success);
}
.btn.btn-warning {
  .btn-variant(@background-color-warning);
}
.btn.btn-error {
  .btn-variant(@background-color-error);
}

.caret {
  border-top: 5px solid #fff;
  margin-top: -1px;
}
