@import "ui-variables";
@tab-radius: 3px;
@modified-icon-width: 8px;
@tab-top-padding: 0;
@tab-bottom-border-height: 0;
@tab-border: 1px solid @tab-border-color;
@tab-bar-bottom-border-color: #111;
@tab-max-width: 160px;

.tab-bar {
  height: @tab-height + @tab-top-padding + @tab-bottom-border-height;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: @tab-bottom-border-height;
    left: 0px;
    width: 100%;
  }

  .tab {
    position: relative;
    top: @tab-top-padding;
    max-width: @tab-max-width;
    height: @tab-height;
    line-height: @tab-height;
    padding: 0;
    color: @text-color;
    transition: all .1s ease-in;

    &, &:before, &:after {
      height: @tab-height;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0px;
      width: 25px;
      height: @tab-height;
    }

    // left angled edge
    &:before {
      left: -20px;
    }

    // right angled edge
    &:after {
      right: -20px;
    }

    .close-icon {
      right: 0;
      z-index: 3;
      text-align: right;
      line-height: @tab-height;
      color: @text-color;

      &:hover {
        color: inherit;
      }
    }

    &.modified:not(:hover) .close-icon {
      right: 0;
      top: @tab-height/2 - @modified-icon-width/2 + 1px;
      width: @modified-icon-width;
      height: @modified-icon-width;
    }

    &.modified:hover .close-icon:hover {
      color: @text-color-highlight;
    }

    .title{
      position: relative;
      z-index: 1;
      padding: 0 10px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .tab.active {
    z-index: 1;
    color: @text-color-highlight;
    //height: 38px !important;
    border-bottom: 3px solid @tab-border-color;

    .title{

    }

    .close-icon {
      color: @text-color;
    }

    &, &:before, &:after {

    }

    &:before {

    }

    &:after {

    }
  }

  .tab:hover {
    color: @text-color-highlight;
  }

  .tab.active:hover .close-icon {
    color: @text-color;

    &:hover {
      color: inherit;
    }
  }

  .placeholder {
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    &:after {
      top: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    }
  }
}
