@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background-color: @tree-background-color;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0px 0px 2px rgba(255,255,255,.09) inset,
              0px 0px 10px rgba(0,0,0,.2) inset;
}
.focusable-panel {
  opacity: 1;

  &:focus {
    .selected > .name,
    .selected > .name:before,
    .selected > .list-item > .name,
    .selected > .list-item > .name:before {
      color: #fff !important;
    }
  }
}
